In [4]:
import pandas as pd

In [10]:
df1 = pd.read_csv('Cohort2017-2018.csv')

/home/ziwen/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (18,20,26,38,43,44,45,46,48,53,60,61,62,63,64,65,69,70,72,73,84,85,86,87,88,89,92,94,97,103,104,105,106,107,113,115,129,130,131,132,133,134,142,143,144,145,146,147,154,155,156,157,158,159,164) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
#file_path = r"D:\Cornell\Research\data\Cohort2017-2018.csv"

#chunk_size = 1000

#csv_iterator = pd.read_csv(file_path, chunksize=chunk_size)
#chunks = []

#for chunk in csv_iterator:
    
    #chunks.append(chunk)
    
    
#df1 = pd.concat(chunks, ignore_index=True)

IsADirectoryError: [Errno 21] Is a directory: '/data/share/ziwen'

In [7]:
df1.head()

,Unnamed: 0,CO_SEQNUM,DOD_YY,DOB_YY,DOB_MM,DOB_TT,DOB_WK,BFACIL,BFACIL3,MAGER,...,F_CA_DOWN,F_CA_DISOR,F_CA_HYPO,NO_CONGEN,ITRAN,ILIVE,BFED,F_BFED,FLGND,OEGest_R3
0,0,,NaN,2019,1,1135,3,1,1,29,...,1,1,1,1,N,Y,Y,1,,1
1,1,,NaN,2019,1,1305,3,1,1,40,...,1,1,1,1,N,Y,Y,1,,2
2,2,,NaN,2019,1,800,3,1,1,30,...,1,1,1,1,N,Y,Y,1,,2
3,3,,NaN,2019,1,130,4,1,1,25,...,1,1,1,1,N,Y,Y,1,,2
4,4,,NaN,2019,1,1426,4,1,1,38,...,1,1,1,1,N,Y,Y,1,,2

In [11]:
len(df1)

3801534

In [9]:
df1['MRACE15'].unique()
df1['FRACE15'].unique()

array([ 3,  1, 15,  6,  2, 13, 14, 10, 99,  5,  9,  7, 12,  8, 11,  4])

In [12]:
df2 = pd.read_csv('Cohort2018-2019.csv')

/home/ziwen/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (18,115) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
#file_path2 = r"D:\Cornell\Research\data\Cohort2018-2019.csv"

#chunk_size = 1000

#csv_iterator = pd.read_csv(file_path2, chunksize=chunk_size)
#chunks = []

#for chunk in csv_iterator:
    
    #chunks.append(chunk)
    
    
#df2 = pd.concat(chunks, ignore_index=True)

In [13]:
df2.head()

,Unnamed: 0,CO_SEQNUM,DOD_YY,DOB_YY,DOB_MM,DOB_TT,DOB_WK,BFACIL,BFACIL3,MAGER,...,F_CA_DOWN,F_CA_DISOR,F_CA_HYPO,NO_CONGEN,ITRAN,ILIVE,BFED,F_BFED,FLGND,OEGest_R3
0,0,,NaN,2019,1,1135,3,1,1,29,...,1,1,1,1,N,Y,Y,1,,1
1,1,,NaN,2019,1,1305,3,1,1,40,...,1,1,1,1,N,Y,Y,1,,2
2,2,,NaN,2019,1,800,3,1,1,30,...,1,1,1,1,N,Y,Y,1,,2
3,3,,NaN,2019,1,130,4,1,1,25,...,1,1,1,1,N,Y,Y,1,,2
4,4,,NaN,2019,1,1426,4,1,1,38,...,1,1,1,1,N,Y,Y,1,,2

In [14]:
len(df2)

3757582

In [27]:
df2['MRACE15'].unique()
df2['FRACE15'].unique()

array([ 3,  1, 15,  6,  2, 13, 14, 10, 99,  5,  9,  7, 12,  8, 11,  4],
      dtype=int64)

In [15]:
df3 = pd.read_csv('Cohort2019-2020.csv')

/home/ziwen/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
#file_path3 = r"D:\Cornell\Research\data\Cohort2019-2020.csv"

#chunk_size = 1000

#csv_iterator = pd.read_csv(file_path3, chunksize=chunk_size)
#chunks = []

#for chunk in csv_iterator:
    
    #chunks.append(chunk)
    
    
#df3 = pd.concat(chunks, ignore_index=True)

In [16]:
df3.head()

,Unnamed: 0,CO_SEQNUM,DOD_YY,DOB_YY,DOB_MM,DOB_TT,DOB_WK,BFACIL,BFACIL3,MAGER,...,F_CA_DOWN,F_CA_DISOR,F_CA_HYPO,NO_CONGEN,ITRAN,ILIVE,BFED,F_BFED,FLGND,OEGest_R3
0,0,,NaN,2020,1,1123,4,1,1,25,...,1,1,1,1,N,Y,Y,1,,2
1,1,,NaN,2020,1,29,6,1,1,28,...,1,1,1,1,N,Y,Y,1,,2
2,2,,NaN,2020,1,1712,6,1,1,36,...,1,1,1,1,N,Y,Y,1,,2
3,3,,NaN,2020,1,2212,6,1,1,32,...,1,1,1,1,N,Y,Y,1,,2
4,4,,NaN,2020,1,806,6,1,1,39,...,1,1,1,1,N,Y,Y,1,,2

In [17]:
len(df3)

3619826

In [32]:
df3['MRACE15'].unique()
df1['FRACE15'].unique()

array([ 1,  3,  2, 99, 10, 15,  6,  5, 13,  8,  4, 14, 12,  7, 11,  9],
      dtype=int64)

### one dataset for each category of the new variable - Parental Ethnicity

In [18]:
parental_ethnicity = pd.DataFrame(
    {
        'Category' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 
                      16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 
        'Parental Ethnicity' : ['Both White (only)', 
                                'Both Black (only)', 
                                'Both AIAN (only)', 
                                'Both Asian Indian (only)', 
                                'Both Chinese (only)', 
                                'Both Filipino (only)', 
                                'Both Japanese (only)', 
                                'Both Korean (only)', 
                                'Both Vietnamese (only)', 
                                'Both Other Asian (only)', 
                                'Both Hawaiian (only)', 
                                'Both Guamanian (only)', 
                                'Both Samoan (only)', 
                                'Both Other Pacific Islander (only)', 
                                'Both More than one race', 
                                'Mother White (only) and Father non-white', 
                                'Mother Black (only) and Father non-black', 
                                'Mother AIAN (only) and Father non-AIAN', 
                                'Mother Asian Indian (only) and Father non-Asian', 
                                'Mother Chinese (only) and Father non-Chinese', 
                                'Mother Filipino (only) and Father non-Filipino', 
                                'Mother Japanese (only) and Father non-Japanese', 
                                'Mother Korean (only) and Father non-Korean', 
                                'Mother Vietnamese (only) and Father non-Vietnamese', 
                                'Mother Other Asian (only) and Father non-Other Asian', 
                                'Mother Hawaiian (only) and Father non-Hawaiian', 
                                'Mother Guamanian (only) and Father non-Guamanian', 
                                'Mother Samoan (only) and Father non-Samoan', 
                                'Mother Other Pacific Islander (only) and Father non-Other Pacific Islander', 
                                'Mother More than one race and Father non-More than one race'], 
        'MRACE15' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], 
        'FRACE15' : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 'any except 1', 'any except 2', 'any except 3', 
                     'any except 4', 'any except 5', 'any except 6', 'any except 7', 'any except 8', 'any except 9', 
                     'any except 10', 'any except 11', 'any except 12', 'any except 13', 'any except 14', 'any except 15']
    }
)

parental_ethnicity

,Category,Parental Ethnicity,MRACE15,FRACE15
0,1,Both White (only),1,1
1,2,Both Black (only),2,2
2,3,Both AIAN (only),3,3
3,4,Both Asian Indian (only),4,4
4,5,Both Chinese (only),5,5
5,6,Both Filipino (only),6,6
6,7,Both Japanese (only),7,7
7,8,Both Korean (only),8,8
8,9,Both Vietnamese (only),9,9
9,10,Both Other Asian (only),10,10
10,11,Both Hawaiian (only),11,11
11,12,Both Guamanian (only),12,12
12,13,Both Samoan (only),13,13
13,14,Both Other Pacific Islander (only),14,14
14,15,Both More than one race,15,15
15,16,Mother White (only) and Father non-white,1,any except 1
16,17,Mother Black (only) and Father non-black,2,any except 2
17,18,Mother AIAN (only) and Father non-AIAN,3,any except 3
18,19,Mother Asian Indian (only) and Father non-Asian,4,any except 4
19,20,Mother Chinese (only) and Father non-Chinese,5,any except 5
20,21,Mother Filipino (only) and Father non-Filipino,6,any except 6
21,22,Mother Japanese (only) and Father non-Japanese,7,any except 7
22,23,Mother Korean (only) and Father non-Korean,8,any except 8
23,24,Mother Vietnamese (only) and Father non-Vietna...,9,any except 9
24,25,Mother Other Asian (only) and Father non-Other...,10,any except 10
25,26,Mother Hawaiian (only) and Father non-Hawaiian,11,any except 11
26,27,Mother Guamanian (only) and Father non-Guamanian,12,any except 12
27,28,Mother Samoan (only) and Father non-Samoan,13,any except 13
28,29,Mother Other Pacific Islander (only) and Fathe...,14,any except 14
29,30,Mother More than one race and Father non-More ...,15,any except 15

### Create 30 separate datasets for each catrgory

In [6]:
df1_c1 = df1.loc[(df1['MRACE15'] == 1) & (df1['FRACE15'] == 1)]
df1_c1.to_csv('D:\Cornell\Research\data\df1_c1.csv')
# finished

In [3]:
df2_c1 = df2.loc[(df2['MRACE15'] == 1) & (df2['FRACE15'] == 1)]
df2_c1.to_csv('D:\Cornell\Research\data\df2_c1.csv')
# finished

In [4]:
df3_c1 = df3.loc[(df3['MRACE15'] == 1) & (df3['FRACE15'] == 1)]
df3_c1.to_csv('D:\Cornell\Research\data\df3_c1.csv')
# finished

In [3]:
# load the dataset from local file
path_df1_c1 = r"D:\Cornell\Research\data\df1_c1.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df1_c1, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df1_c1 = pd.concat(chunks, ignore_index=True)

In [4]:
path_df2_c1 = r"D:\Cornell\Research\data\df2_c1.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df2_c1, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df2_c1 = pd.concat(chunks, ignore_index=True)

In [5]:
path_df3_c1 = r"D:\Cornell\Research\data\df3_c1.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df3_c1, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df3_c1 = pd.concat(chunks, ignore_index=True)

In [6]:
# combine the three datasets
c1_final = pd.concat([df1_c1, df2_c1, df3_c1], ignore_index = True)

In [7]:
c1_final.to_csv('D:\Cornell\Research\data\c1_final.csv')

In [10]:
# check the length
len(df1_c1)

2200497

In [12]:
len(df2_c1)

2148911

In [11]:
len(df3_c1)

2045759

In [13]:
len(c1_final) # equivalent to the sum

6395167

In [ ]:
# repeat the above steps to create final datasets from 2-30...

In [7]:
df1_c2 = df1.loc[(df1['MRACE15'] == 2) & (df1['FRACE15'] == 2)]
df1_c2.to_csv('D:\Cornell\Research\data\df1_c2.csv')
# finished

In [3]:
df2_c2 = df2.loc[(df2['MRACE15'] == 2) & (df2['FRACE15'] == 2)]
df2_c2.to_csv('D:\Cornell\Research\data\df2_c2.csv')
# finished

In [3]:
df3_c2 = df3.loc[(df3['MRACE15'] == 2) & (df3['FRACE15'] == 2)]
df3_c2.to_csv('D:\Cornell\Research\data\df3_c2.csv')
# finished

In [32]:
# load the dataset from local file
path_df1_c2 = r"D:\Cornell\Research\data\df1_c2.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df1_c2, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df1_c2 = pd.concat(chunks, ignore_index=True)

In [33]:
path_df2_c2 = r"D:\Cornell\Research\data\df2_c2.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df2_c2, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df2_c2 = pd.concat(chunks, ignore_index=True)

In [34]:
path_df3_c2 = r"D:\Cornell\Research\data\df3_c2.csv"

chunk_size = 1000

csv_iterator = pd.read_csv(path_df3_c2, chunksize=chunk_size)
chunks = []

for chunk in csv_iterator:
    
    chunks.append(chunk)
    
    
df3_c2 = pd.concat(chunks, ignore_index=True)

In [35]:
# combine the three datasets
c2_final = pd.concat([df1_c2, df2_c2, df3_c2], ignore_index = True)
c2_final.to_csv('D:\Cornell\Research\data\c2_final.csv')

In [3]:
df1_c3 = df1.loc[(df1['MRACE15'] == 3) & (df1['FRACE15'] == 3)]
df1_c3.to_csv('D:\Cornell\Research\data\df1_c3.csv')
# finished

In [4]:
df2_c3 = df2.loc[(df2['MRACE15'] == 3) & (df2['FRACE15'] == 3)]
df2_c3.to_csv('D:\Cornell\Research\data\df2_c3.csv')
# finished

In [4]:
df3_c3 = df3.loc[(df3['MRACE15'] == 3) & (df3['FRACE15'] == 3)]
df3_c3.to_csv('D:\Cornell\Research\data\df3_c3.csv')
# finished

In [36]:
# load the dataset from local file
path_df1_c3 = r"D:\Cornell\Research\data\df1_c3.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c3, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c3 = pd.concat(chunks, ignore_index=True)


path_df2_c3 = r"D:\Cornell\Research\data\df2_c3.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c3, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c3 = pd.concat(chunks, ignore_index=True)


path_df3_c3 = r"D:\Cornell\Research\data\df3_c3.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c3, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c3 = pd.concat(chunks, ignore_index=True)

In [40]:
# combine the three datasets
c3_final = pd.concat([df1_c3, df2_c3, df3_c3], ignore_index = True)
c3_final.to_csv('D:\Cornell\Research\data\c3_final.csv')

In [37]:
len(df1_c3)

13174

In [38]:
len(df2_c3)

13070

In [39]:
len(df3_c3)

11760

In [41]:
len(c3_final)

38004

In [4]:
df1_c4 = df1.loc[(df1['MRACE15'] == 4) & (df1['FRACE15'] == 4)]
df1_c4.to_csv('D:\Cornell\Research\data\df1_c4.csv')
# finished

In [5]:
df2_c4 = df2.loc[(df2['MRACE15'] == 4) & (df2['FRACE15'] == 4)]
df2_c4.to_csv('D:\Cornell\Research\data\df2_c4.csv')
# finished

In [5]:
df3_c4 = df3.loc[(df3['MRACE15'] == 4) & (df3['FRACE15'] == 4)]
df3_c4.to_csv('D:\Cornell\Research\data\df3_c4.csv')
# finished

In [42]:
# load the dataset from local file
path_df1_c4 = r"D:\Cornell\Research\data\df1_c4.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c4, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c4 = pd.concat(chunks, ignore_index=True)


path_df2_c4 = r"D:\Cornell\Research\data\df2_c4.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c4, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c4 = pd.concat(chunks, ignore_index=True)


path_df3_c4 = r"D:\Cornell\Research\data\df3_c4.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c4, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c4 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c4_final = pd.concat([df1_c4, df2_c4, df3_c4], ignore_index = True)
c4_final.to_csv('D:\Cornell\Research\data\c4_final.csv')

In [5]:
df1_c5 = df1.loc[(df1['MRACE15'] == 5) & (df1['FRACE15'] == 5)]
df1_c5.to_csv('D:\Cornell\Research\data\df1_c5.csv')
# finished

In [6]:
df2_c5 = df2.loc[(df2['MRACE15'] == 5) & (df2['FRACE15'] == 5)]
df2_c5.to_csv('D:\Cornell\Research\data\df2_c5.csv')
# finished

In [6]:
df3_c5 = df3.loc[(df3['MRACE15'] == 5) & (df3['FRACE15'] == 5)]
df3_c5.to_csv('D:\Cornell\Research\data\df3_c5.csv')
# finished

In [43]:
# load the dataset from local file
path_df1_c5 = r"D:\Cornell\Research\data\df1_c5.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c5, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c5 = pd.concat(chunks, ignore_index=True)


path_df2_c5 = r"D:\Cornell\Research\data\df2_c5.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c5, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c5 = pd.concat(chunks, ignore_index=True)


path_df3_c5 = r"D:\Cornell\Research\data\df3_c5.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c5, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c5 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c5_final = pd.concat([df1_c5, df2_c5, df3_c5], ignore_index = True)
c5_final.to_csv('D:\Cornell\Research\data\c5_final.csv')

In [6]:
df1_c6 = df1.loc[(df1['MRACE15'] == 6) & (df1['FRACE15'] == 6)]
df1_c6.to_csv('D:\Cornell\Research\data\df1_c6.csv')
# finished

In [7]:
df2_c6 = df2.loc[(df2['MRACE15'] == 6) & (df2['FRACE15'] == 6)]
df2_c6.to_csv('D:\Cornell\Research\data\df2_c6.csv')
# finished

In [7]:
df3_c6 = df3.loc[(df3['MRACE15'] == 6) & (df3['FRACE15'] == 6)]
df3_c6.to_csv('D:\Cornell\Research\data\df3_c6.csv')
# finished

In [44]:
# load the dataset from local file
path_df1_c6 = r"D:\Cornell\Research\data\df1_c6.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c6, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c6 = pd.concat(chunks, ignore_index=True)


path_df2_c6 = r"D:\Cornell\Research\data\df2_c6.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c6, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c6 = pd.concat(chunks, ignore_index=True)


path_df3_c6 = r"D:\Cornell\Research\data\df3_c6.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c6, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c6 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c6_final = pd.concat([df1_c6, df2_c6, df3_c6], ignore_index = True)
c6_final.to_csv('D:\Cornell\Research\data\c6_final.csv')

In [7]:
df1_c7 = df1.loc[(df1['MRACE15'] == 7) & (df1['FRACE15'] == 7)]
df1_c7.to_csv('D:\Cornell\Research\data\df1_c7.csv')
# finished

In [8]:
df2_c7 = df2.loc[(df2['MRACE15'] == 7) & (df2['FRACE15'] == 7)]
df2_c7.to_csv('D:\Cornell\Research\data\df2_c7.csv')
# finished

In [8]:
df3_c7 = df3.loc[(df3['MRACE15'] == 7) & (df3['FRACE15'] == 7)]
df3_c7.to_csv('D:\Cornell\Research\data\df3_c7.csv')
# finished

In [45]:
# load the dataset from local file
path_df1_c7 = r"D:\Cornell\Research\data\df1_c7.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c7, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c7 = pd.concat(chunks, ignore_index=True)


path_df2_c7 = r"D:\Cornell\Research\data\df2_c7.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c7, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c7 = pd.concat(chunks, ignore_index=True)


path_df3_c7 = r"D:\Cornell\Research\data\df3_c7.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c7, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c7 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c7_final = pd.concat([df1_c7, df2_c7, df3_c7], ignore_index = True)
c7_final.to_csv('D:\Cornell\Research\data\c7_final.csv')

In [8]:
df1_c8 = df1.loc[(df1['MRACE15'] == 8) & (df1['FRACE15'] == 8)]
df1_c8.to_csv('D:\Cornell\Research\data\df1_c8.csv')
# finished

In [9]:
df2_c8 = df2.loc[(df2['MRACE15'] == 8) & (df2['FRACE15'] == 8)]
df2_c8.to_csv('D:\Cornell\Research\data\df2_c8.csv')
# finished

In [9]:
df3_c8 = df3.loc[(df3['MRACE15'] == 8) & (df3['FRACE15'] == 8)]
df3_c8.to_csv('D:\Cornell\Research\data\df3_c8.csv')
# finished

In [46]:
# load the dataset from local file
path_df1_c8 = r"D:\Cornell\Research\data\df1_c8.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c8, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c8 = pd.concat(chunks, ignore_index=True)


path_df2_c8 = r"D:\Cornell\Research\data\df2_c8.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c8, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c8 = pd.concat(chunks, ignore_index=True)


path_df3_c8 = r"D:\Cornell\Research\data\df3_c8.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c8, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c8 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c8_final = pd.concat([df1_c8, df2_c8, df3_c8], ignore_index = True)
c8_final.to_csv('D:\Cornell\Research\data\c8_final.csv')

In [9]:
df1_c9 = df1.loc[(df1['MRACE15'] == 9) & (df1['FRACE15'] == 9)]
df1_c9.to_csv('D:\Cornell\Research\data\df1_c9.csv')
# finished

In [10]:
df2_c9 = df2.loc[(df2['MRACE15'] == 9) & (df2['FRACE15'] == 9)]
df2_c9.to_csv('D:\Cornell\Research\data\df2_c9.csv')
# finished

In [10]:
df3_c9 = df3.loc[(df3['MRACE15'] == 9) & (df3['FRACE15'] == 9)]
df3_c9.to_csv('D:\Cornell\Research\data\df3_c9.csv')
# finished

In [47]:
# load the dataset from local file
path_df1_c9 = r"D:\Cornell\Research\data\df1_c9.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c9, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c9 = pd.concat(chunks, ignore_index=True)


path_df2_c9 = r"D:\Cornell\Research\data\df2_c9.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c9, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c9 = pd.concat(chunks, ignore_index=True)


path_df3_c9 = r"D:\Cornell\Research\data\df3_c9.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c9, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c9 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c9_final = pd.concat([df1_c9, df2_c9, df3_c9], ignore_index = True)
c9_final.to_csv('D:\Cornell\Research\data\c9_final.csv')

In [10]:
df1_c10 = df1.loc[(df1['MRACE15'] == 10) & (df1['FRACE15'] == 10)]
df1_c10.to_csv('D:\Cornell\Research\data\df1_c10.csv')
# finished

In [11]:
df2_c10 = df2.loc[(df2['MRACE15'] == 10) & (df2['FRACE15'] == 10)]
df2_c10.to_csv('D:\Cornell\Research\data\df2_c10.csv')
# finished

In [11]:
df3_c10 = df3.loc[(df3['MRACE15'] == 10) & (df3['FRACE15'] == 10)]
df3_c10.to_csv('D:\Cornell\Research\data\df3_c10.csv')
# finished

In [48]:
# load the dataset from local file
path_df1_c10 = r"D:\Cornell\Research\data\df1_c10.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c10, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c10 = pd.concat(chunks, ignore_index=True)


path_df2_c10 = r"D:\Cornell\Research\data\df2_c10.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c10, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c10 = pd.concat(chunks, ignore_index=True)


path_df3_c10 = r"D:\Cornell\Research\data\df3_c10.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c10, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c10 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c10_final = pd.concat([df1_c10, df2_c10, df3_c10], ignore_index = True)
c10_final.to_csv('D:\Cornell\Research\data\c10_final.csv')

In [11]:
df1_c11 = df1.loc[(df1['MRACE15'] == 11) & (df1['FRACE15'] == 11)]
df1_c11.to_csv('D:\Cornell\Research\data\df1_c11.csv')
# finished

In [12]:
df2_c11 = df2.loc[(df2['MRACE15'] == 11) & (df2['FRACE15'] == 11)]
df2_c11.to_csv('D:\Cornell\Research\data\df2_c11.csv')
# finished

In [12]:
df3_c11 = df3.loc[(df3['MRACE15'] == 11) & (df3['FRACE15'] == 11)]
df3_c11.to_csv('D:\Cornell\Research\data\df3_c11.csv')
# finished

In [49]:
# load the dataset from local file
path_df1_c11 = r"D:\Cornell\Research\data\df1_c11.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c11, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c11 = pd.concat(chunks, ignore_index=True)


path_df2_c11 = r"D:\Cornell\Research\data\df2_c11.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c11, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c11 = pd.concat(chunks, ignore_index=True)


path_df3_c11 = r"D:\Cornell\Research\data\df3_c11.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c11, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c11 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c11_final = pd.concat([df1_c11, df2_c11, df3_c11], ignore_index = True)
c11_final.to_csv('D:\Cornell\Research\data\c11_final.csv')

In [12]:
df1_c12 = df1.loc[(df1['MRACE15'] == 12) & (df1['FRACE15'] == 12)]
df1_c12.to_csv('D:\Cornell\Research\data\df1_c12.csv')
# finished

In [13]:
df2_c12 = df2.loc[(df2['MRACE15'] == 12) & (df2['FRACE15'] == 12)]
df2_c12.to_csv('D:\Cornell\Research\data\df2_c12.csv')
# finished

In [13]:
df3_c12 = df3.loc[(df3['MRACE15'] == 12) & (df3['FRACE15'] == 12)]
df3_c12.to_csv('D:\Cornell\Research\data\df3_c12.csv')
# finished

In [50]:
# load the dataset from local file
path_df1_c12 = r"D:\Cornell\Research\data\df1_c12.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c12, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c12 = pd.concat(chunks, ignore_index=True)


path_df2_c12 = r"D:\Cornell\Research\data\df2_c12.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c12, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c12 = pd.concat(chunks, ignore_index=True)


path_df3_c12 = r"D:\Cornell\Research\data\df3_c12.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c12, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c12 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c12_final = pd.concat([df1_c12, df2_c12, df3_c12], ignore_index = True)
c12_final.to_csv('D:\Cornell\Research\data\c12_final.csv')

In [13]:
df1_c13 = df1.loc[(df1['MRACE15'] == 13) & (df1['FRACE15'] == 13)]
df1_c13.to_csv('D:\Cornell\Research\data\df1_c13.csv')
# finished

In [14]:
df2_c13 = df2.loc[(df2['MRACE15'] == 13) & (df2['FRACE15'] == 13)]
df2_c13.to_csv('D:\Cornell\Research\data\df2_c13.csv')
# finished

In [14]:
df3_c13 = df3.loc[(df3['MRACE15'] == 13) & (df3['FRACE15'] == 13)]
df3_c13.to_csv('D:\Cornell\Research\data\df3_c13.csv')
# finished

In [51]:
# load the dataset from local file
path_df1_c13 = r"D:\Cornell\Research\data\df1_c13.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c13, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c13 = pd.concat(chunks, ignore_index=True)


path_df2_c13 = r"D:\Cornell\Research\data\df2_c13.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c13, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c13 = pd.concat(chunks, ignore_index=True)


path_df3_c13 = r"D:\Cornell\Research\data\df3_c13.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c13, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c13 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c13_final = pd.concat([df1_c13, df2_c13, df3_c13], ignore_index = True)
c13_final.to_csv('D:\Cornell\Research\data\c13_final.csv')

In [14]:
df1_c14 = df1.loc[(df1['MRACE15'] == 14) & (df1['FRACE15'] == 14)]
df1_c14.to_csv('D:\Cornell\Research\data\df1_c14.csv')
# finished

In [15]:
df2_c14 = df2.loc[(df2['MRACE15'] == 14) & (df2['FRACE15'] == 14)]
df2_c14.to_csv('D:\Cornell\Research\data\df2_c14.csv')
# finished

In [15]:
df3_c14 = df3.loc[(df3['MRACE15'] == 14) & (df3['FRACE15'] == 14)]
df3_c14.to_csv('D:\Cornell\Research\data\df3_c14.csv')
# finished

In [52]:
# load the dataset from local file
path_df1_c14 = r"D:\Cornell\Research\data\df1_c14.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c14, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c14 = pd.concat(chunks, ignore_index=True)


path_df2_c14 = r"D:\Cornell\Research\data\df2_c14.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c14, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c14 = pd.concat(chunks, ignore_index=True)


path_df3_c14 = r"D:\Cornell\Research\data\df3_c14.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c14, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c14 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c14_final = pd.concat([df1_c14, df2_c14, df3_c14], ignore_index = True)
c14_final.to_csv('D:\Cornell\Research\data\c14_final.csv')

In [15]:
df1_c15 = df1.loc[(df1['MRACE15'] == 15) & (df1['FRACE15'] == 15)]
df1_c15.to_csv('D:\Cornell\Research\data\df1_c15.csv')
# finished

In [16]:
df2_c15 = df2.loc[(df2['MRACE15'] == 15) & (df2['FRACE15'] == 15)]
df2_c15.to_csv('D:\Cornell\Research\data\df2_c15.csv')
# finished

In [16]:
df3_c15 = df3.loc[(df3['MRACE15'] == 15) & (df3['FRACE15'] == 15)]
df3_c15.to_csv('D:\Cornell\Research\data\df3_c15.csv')
# finished

In [53]:
# load the dataset from local file
path_df1_c15 = r"D:\Cornell\Research\data\df1_c15.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c15, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c15 = pd.concat(chunks, ignore_index=True)


path_df2_c15 = r"D:\Cornell\Research\data\df2_c15.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c15, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c15 = pd.concat(chunks, ignore_index=True)


path_df3_c15 = r"D:\Cornell\Research\data\df3_c15.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c15, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c15 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c15_final = pd.concat([df1_c15, df2_c15, df3_c15], ignore_index = True)
c15_final.to_csv('D:\Cornell\Research\data\c15_final.csv')

In [16]:
df1_c16 = df1.loc[(df1['MRACE15'] == 1) & (df1['FRACE15'] != 1) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c16.to_csv('D:\Cornell\Research\data\df1_c16.csv')
# finished

In [17]:
df2_c16 = df2.loc[(df2['MRACE15'] == 1) & (df2['FRACE15'] != 1) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c16.to_csv('D:\Cornell\Research\data\df2_c16.csv')
# finished

In [17]:
df3_c16 = df3.loc[(df3['MRACE15'] == 1) & (df3['FRACE15'] != 1) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c16.to_csv('D:\Cornell\Research\data\df3_c16.csv')
# finished

In [54]:
# load the dataset from local file
path_df1_c16 = r"D:\Cornell\Research\data\df1_c16.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c16, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c16 = pd.concat(chunks, ignore_index=True)


path_df2_c16 = r"D:\Cornell\Research\data\df2_c16.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c16, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c16 = pd.concat(chunks, ignore_index=True)


path_df3_c16 = r"D:\Cornell\Research\data\df3_c16.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c16, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c16 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c16_final = pd.concat([df1_c16, df2_c16, df3_c16], ignore_index = True)
c16_final.to_csv('D:\Cornell\Research\data\c16_final.csv')

In [17]:
df1_c17 = df1.loc[(df1['MRACE15'] == 2) & (df1['FRACE15'] != 2) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c17.to_csv('D:\Cornell\Research\data\df1_c17.csv')
# finished

In [18]:
df2_c17 = df2.loc[(df2['MRACE15'] == 2) & (df2['FRACE15'] != 2) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c17.to_csv('D:\Cornell\Research\data\df2_c17.csv')
# finished

In [18]:
df3_c17 = df3.loc[(df3['MRACE15'] == 2) & (df3['FRACE15'] != 2) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c17.to_csv('D:\Cornell\Research\data\df3_c17.csv')
# finished

In [55]:
# load the dataset from local file
path_df1_c17 = r"D:\Cornell\Research\data\df1_c17.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c17, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c17 = pd.concat(chunks, ignore_index=True)


path_df2_c17 = r"D:\Cornell\Research\data\df2_c17.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c17, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c17 = pd.concat(chunks, ignore_index=True)


path_df3_c17 = r"D:\Cornell\Research\data\df3_c17.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c17, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c17 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c17_final = pd.concat([df1_c17, df2_c17, df3_c17], ignore_index = True)
c17_final.to_csv('D:\Cornell\Research\data\c17_final.csv')

In [18]:
df1_c18 = df1.loc[(df1['MRACE15'] == 3) & (df1['FRACE15'] != 3) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c18.to_csv('D:\Cornell\Research\data\df1_c18.csv')
# finished

In [19]:
df2_c18 = df2.loc[(df2['MRACE15'] == 3) & (df2['FRACE15'] != 3) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c18.to_csv('D:\Cornell\Research\data\df2_c18.csv')
# finished

In [19]:
df3_c18 = df3.loc[(df3['MRACE15'] == 3) & (df3['FRACE15'] != 3) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c18.to_csv('D:\Cornell\Research\data\df3_c18.csv')
# finished

In [56]:
# load the dataset from local file
path_df1_c18 = r"D:\Cornell\Research\data\df1_c18.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c18, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c18 = pd.concat(chunks, ignore_index=True)


path_df2_c18 = r"D:\Cornell\Research\data\df2_c18.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c18, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c18 = pd.concat(chunks, ignore_index=True)


path_df3_c18 = r"D:\Cornell\Research\data\df3_c18.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c18, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c18 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c18_final = pd.concat([df1_c18, df2_c18, df3_c18], ignore_index = True)
c18_final.to_csv('D:\Cornell\Research\data\c18_final.csv')

In [19]:
df1_c19 = df1.loc[(df1['MRACE15'] == 4) & (df1['FRACE15'] != 4) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c19.to_csv('D:\Cornell\Research\data\df1_c19.csv')
# finished

In [20]:
df2_c19 = df2.loc[(df2['MRACE15'] == 4) & (df2['FRACE15'] != 4) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c19.to_csv('D:\Cornell\Research\data\df2_c19.csv')
# finished

In [20]:
df3_c19 = df3.loc[(df3['MRACE15'] == 4) & (df3['FRACE15'] != 4) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c19.to_csv('D:\Cornell\Research\data\df3_c19.csv')
# finished

In [57]:
# load the dataset from local file
path_df1_c19 = r"D:\Cornell\Research\data\df1_c19.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c19, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c19 = pd.concat(chunks, ignore_index=True)


path_df2_c19 = r"D:\Cornell\Research\data\df2_c19.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c19, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c19 = pd.concat(chunks, ignore_index=True)


path_df3_c19 = r"D:\Cornell\Research\data\df3_c19.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c19, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c19 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c19_final = pd.concat([df1_c19, df2_c19, df3_c19], ignore_index = True)
c19_final.to_csv('D:\Cornell\Research\data\c19_final.csv')

In [20]:
df1_c20 = df1.loc[(df1['MRACE15'] == 5) & (df1['FRACE15'] != 5) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c20.to_csv('D:\Cornell\Research\data\df1_c20.csv')
# finished

In [21]:
df2_c20 = df2.loc[(df2['MRACE15'] == 5) & (df2['FRACE15'] != 5) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c20.to_csv('D:\Cornell\Research\data\df2_c20.csv')
# finished

In [21]:
df3_c20 = df3.loc[(df3['MRACE15'] == 5) & (df3['FRACE15'] != 5) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c20.to_csv('D:\Cornell\Research\data\df3_c20.csv')
# finished

In [58]:
# load the dataset from local file
path_df1_c20 = r"D:\Cornell\Research\data\df1_c20.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c20, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c20 = pd.concat(chunks, ignore_index=True)


path_df2_c20 = r"D:\Cornell\Research\data\df2_c20.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c20, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c20 = pd.concat(chunks, ignore_index=True)


path_df3_c20 = r"D:\Cornell\Research\data\df3_c20.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c20, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c20 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c20_final = pd.concat([df1_c20, df2_c20, df3_c20], ignore_index = True)
c20_final.to_csv('D:\Cornell\Research\data\c20_final.csv')

In [21]:
df1_c21 = df1.loc[(df1['MRACE15'] == 6) & (df1['FRACE15'] != 6) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c21.to_csv('D:\Cornell\Research\data\df1_c21.csv')
# finished

In [22]:
df2_c21 = df2.loc[(df2['MRACE15'] == 6) & (df2['FRACE15'] != 6) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c21.to_csv('D:\Cornell\Research\data\df2_c21.csv')
# finished

In [22]:
df3_c21 = df3.loc[(df3['MRACE15'] == 6) & (df3['FRACE15'] != 6) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c21.to_csv('D:\Cornell\Research\data\df3_c21.csv')
# finished

In [59]:
# load the dataset from local file
path_df1_c21 = r"D:\Cornell\Research\data\df1_c21.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c21, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c21 = pd.concat(chunks, ignore_index=True)


path_df2_c21 = r"D:\Cornell\Research\data\df2_c21.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c21, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c21 = pd.concat(chunks, ignore_index=True)


path_df3_c21 = r"D:\Cornell\Research\data\df3_c21.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c21, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c21 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c21_final = pd.concat([df1_c21, df2_c21, df3_c21], ignore_index = True)
c21_final.to_csv('D:\Cornell\Research\data\c21_final.csv')

In [22]:
df1_c22 = df1.loc[(df1['MRACE15'] == 7) & (df1['FRACE15'] != 7) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c22.to_csv('D:\Cornell\Research\data\df1_c22.csv')
# finished

In [23]:
df2_c22 = df2.loc[(df2['MRACE15'] == 7) & (df2['FRACE15'] != 7) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c22.to_csv('D:\Cornell\Research\data\df2_c22.csv')
# finished

In [23]:
df3_c22 = df3.loc[(df3['MRACE15'] == 7) & (df3['FRACE15'] != 7) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c22.to_csv('D:\Cornell\Research\data\df3_c22.csv')
# finished

In [60]:
# load the dataset from local file
path_df1_c22 = r"D:\Cornell\Research\data\df1_c22.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c22, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c22 = pd.concat(chunks, ignore_index=True)


path_df2_c22 = r"D:\Cornell\Research\data\df2_c22.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c22, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c22 = pd.concat(chunks, ignore_index=True)


path_df3_c22 = r"D:\Cornell\Research\data\df3_c22.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c22, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c22 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c22_final = pd.concat([df1_c22, df2_c22, df3_c22], ignore_index = True)
c22_final.to_csv('D:\Cornell\Research\data\c22_final.csv')

In [23]:
df1_c23 = df1.loc[(df1['MRACE15'] == 8) & (df1['FRACE15'] != 8) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c23.to_csv('D:\Cornell\Research\data\df1_c23.csv')
# finished

In [24]:
df2_c23 = df2.loc[(df2['MRACE15'] == 8) & (df2['FRACE15'] != 8) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c23.to_csv('D:\Cornell\Research\data\df2_c23.csv')
# finished

In [24]:
df3_c23 = df3.loc[(df3['MRACE15'] == 8) & (df3['FRACE15'] != 8) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c23.to_csv('D:\Cornell\Research\data\df3_c23.csv')
# finished

In [61]:
# load the dataset from local file
path_df1_c23 = r"D:\Cornell\Research\data\df1_c23.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c23, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c23 = pd.concat(chunks, ignore_index=True)


path_df2_c23 = r"D:\Cornell\Research\data\df2_c23.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c23, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c23 = pd.concat(chunks, ignore_index=True)


path_df3_c23 = r"D:\Cornell\Research\data\df3_c23.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c23, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c23 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c23_final = pd.concat([df1_c23, df2_c23, df3_c23], ignore_index = True)
c23_final.to_csv('D:\Cornell\Research\data\c23_final.csv')

In [24]:
df1_c24 = df1.loc[(df1['MRACE15'] == 9) & (df1['FRACE15'] != 9) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c24.to_csv('D:\Cornell\Research\data\df1_c24.csv')
# finished

In [25]:
df2_c24 = df2.loc[(df2['MRACE15'] == 9) & (df2['FRACE15'] != 9) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c24.to_csv('D:\Cornell\Research\data\df2_c24.csv')
# finished

In [25]:
df3_c24 = df3.loc[(df3['MRACE15'] == 9) & (df3['FRACE15'] != 9) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c24.to_csv('D:\Cornell\Research\data\df3_c24.csv')
# finished

In [62]:
# load the dataset from local file
path_df1_c24 = r"D:\Cornell\Research\data\df1_c24.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c24, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c24 = pd.concat(chunks, ignore_index=True)


path_df2_c24 = r"D:\Cornell\Research\data\df2_c24.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c24, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c24 = pd.concat(chunks, ignore_index=True)


path_df3_c24 = r"D:\Cornell\Research\data\df3_c24.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c24, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c24 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c24_final = pd.concat([df1_c24, df2_c24, df3_c24], ignore_index = True)
c24_final.to_csv('D:\Cornell\Research\data\c24_final.csv')

In [25]:
df1_c25 = df1.loc[(df1['MRACE15'] == 10) & (df1['FRACE15'] != 10) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c25.to_csv('D:\Cornell\Research\data\df1_c25.csv')
# finished

In [26]:
df2_c25 = df2.loc[(df2['MRACE15'] == 10) & (df2['FRACE15'] != 10) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c25.to_csv('D:\Cornell\Research\data\df2_c25.csv')
# finished

In [26]:
df3_c25 = df3.loc[(df3['MRACE15'] == 10) & (df3['FRACE15'] != 10) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c25.to_csv('D:\Cornell\Research\data\df3_c25.csv')
# finished

In [63]:
# load the dataset from local file
path_df1_c25 = r"D:\Cornell\Research\data\df1_c25.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c25, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c25 = pd.concat(chunks, ignore_index=True)


path_df2_c25 = r"D:\Cornell\Research\data\df2_c25.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c25, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c25 = pd.concat(chunks, ignore_index=True)


path_df3_c25 = r"D:\Cornell\Research\data\df3_c25.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c25, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c25 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c25_final = pd.concat([df1_c25, df2_c25, df3_c25], ignore_index = True)
c25_final.to_csv('D:\Cornell\Research\data\c25_final.csv')

In [26]:
df1_c26 = df1.loc[(df1['MRACE15'] == 11) & (df1['FRACE15'] != 11) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c26.to_csv('D:\Cornell\Research\data\df1_c26.csv')
# finished

In [27]:
df2_c26 = df2.loc[(df2['MRACE15'] == 11) & (df2['FRACE15'] != 11) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c26.to_csv('D:\Cornell\Research\data\df2_c26.csv')
# finished

In [27]:
df3_c26 = df3.loc[(df3['MRACE15'] == 11) & (df3['FRACE15'] != 11) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c26.to_csv('D:\Cornell\Research\data\df3_c26.csv')
# finished

In [64]:
# load the dataset from local file
path_df1_c26 = r"D:\Cornell\Research\data\df1_c26.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c26, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c26 = pd.concat(chunks, ignore_index=True)


path_df2_c26 = r"D:\Cornell\Research\data\df2_c26.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c26, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c26 = pd.concat(chunks, ignore_index=True)


path_df3_c26 = r"D:\Cornell\Research\data\df3_c26.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c26, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c26 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c26_final = pd.concat([df1_c26, df2_c26, df3_c26], ignore_index = True)
c26_final.to_csv('D:\Cornell\Research\data\c26_final.csv')

In [27]:
df1_c27 = df1.loc[(df1['MRACE15'] == 12) & (df1['FRACE15'] != 12) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c27.to_csv('D:\Cornell\Research\data\df1_c27.csv')
# finished

In [28]:
df2_c27 = df2.loc[(df2['MRACE15'] == 12) & (df2['FRACE15'] != 12) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c27.to_csv('D:\Cornell\Research\data\df2_c27.csv')
# finished

In [28]:
df3_c27 = df3.loc[(df3['MRACE15'] == 12) & (df3['FRACE15'] != 12) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c27.to_csv('D:\Cornell\Research\data\df3_c27.csv')
# finished

In [65]:
# load the dataset from local file
path_df1_c27 = r"D:\Cornell\Research\data\df1_c27.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c27, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c27 = pd.concat(chunks, ignore_index=True)


path_df2_c27 = r"D:\Cornell\Research\data\df2_c27.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c27, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c27 = pd.concat(chunks, ignore_index=True)


path_df3_c27 = r"D:\Cornell\Research\data\df3_c27.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c27, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c27 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c27_final = pd.concat([df1_c27, df2_c27, df3_c27], ignore_index = True)
c27_final.to_csv('D:\Cornell\Research\data\c27_final.csv')

In [28]:
df1_c28 = df1.loc[(df1['MRACE15'] == 13) & (df1['FRACE15'] != 13) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c28.to_csv('D:\Cornell\Research\data\df1_c28.csv')
# finished

In [29]:
df2_c28 = df2.loc[(df2['MRACE15'] == 13) & (df2['FRACE15'] != 13) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c28.to_csv('D:\Cornell\Research\data\df2_c28.csv')
# finished

In [29]:
df3_c28 = df3.loc[(df3['MRACE15'] == 13) & (df3['FRACE15'] != 13) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c28.to_csv('D:\Cornell\Research\data\df3_c28.csv')
# finished

In [66]:
# load the dataset from local file
path_df1_c28 = r"D:\Cornell\Research\data\df1_c28.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c28, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c28 = pd.concat(chunks, ignore_index=True)


path_df2_c28 = r"D:\Cornell\Research\data\df2_c28.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c28, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c28 = pd.concat(chunks, ignore_index=True)


path_df3_c28 = r"D:\Cornell\Research\data\df3_c28.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c28, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c28 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c28_final = pd.concat([df1_c28, df2_c28, df3_c28], ignore_index = True)
c28_final.to_csv('D:\Cornell\Research\data\c28_final.csv')

In [29]:
df1_c29 = df1.loc[(df1['MRACE15'] == 14) & (df1['FRACE15'] != 14) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c29.to_csv('D:\Cornell\Research\data\df1_c29.csv')
# finished

In [30]:
df2_c29 = df2.loc[(df2['MRACE15'] == 14) & (df2['FRACE15'] != 14) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c29.to_csv('D:\Cornell\Research\data\df2_c29.csv')
# finished

In [30]:
df3_c29 = df3.loc[(df3['MRACE15'] == 14) & (df3['FRACE15'] != 14) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c29.to_csv('D:\Cornell\Research\data\df3_c29.csv')
# finished

In [67]:
# load the dataset from local file
path_df1_c29 = r"D:\Cornell\Research\data\df1_c29.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c29, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c29 = pd.concat(chunks, ignore_index=True)


path_df2_c29 = r"D:\Cornell\Research\data\df2_c29.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c29, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c29 = pd.concat(chunks, ignore_index=True)


path_df3_c29 = r"D:\Cornell\Research\data\df3_c29.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c29, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c29 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c29_final = pd.concat([df1_c29, df2_c29, df3_c29], ignore_index = True)
c29_final.to_csv('D:\Cornell\Research\data\c29_final.csv')

In [30]:
df1_c30 = df1.loc[(df1['MRACE15'] == 15) & (df1['FRACE15'] != 15) & (df1['FRACE15'] >= 1) & (df1['FRACE15'] <= 15)]
df1_c30.to_csv('D:\Cornell\Research\data\df1_c30.csv')
# finished

In [31]:
df2_c30 = df2.loc[(df2['MRACE15'] == 15) & (df2['FRACE15'] != 15) & (df2['FRACE15'] >= 1) & (df2['FRACE15'] <= 15)]
df2_c30.to_csv('D:\Cornell\Research\data\df2_c30.csv')
# finished

In [31]:
df3_c30 = df3.loc[(df3['MRACE15'] == 15) & (df3['FRACE15'] != 15) & (df3['FRACE15'] >= 1) & (df3['FRACE15'] <= 15)]
df3_c30.to_csv('D:\Cornell\Research\data\df3_c30.csv')
# finished

In [68]:
# load the dataset from local file
path_df1_c30 = r"D:\Cornell\Research\data\df1_c30.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df1_c30, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df1_c30 = pd.concat(chunks, ignore_index=True)


path_df2_c30 = r"D:\Cornell\Research\data\df2_c30.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df2_c30, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df2_c30 = pd.concat(chunks, ignore_index=True)


path_df3_c30 = r"D:\Cornell\Research\data\df3_c30.csv"
chunk_size = 1000
csv_iterator = pd.read_csv(path_df3_c30, chunksize=chunk_size)
chunks = []
for chunk in csv_iterator:
    chunks.append(chunk)
df3_c30 = pd.concat(chunks, ignore_index=True)

# combine the three datasets
c30_final = pd.concat([df1_c30, df2_c30, df3_c30], ignore_index = True)
c30_final.to_csv('D:\Cornell\Research\data\c30_final.csv')